* {
  margin: 0;
  padding: 0;
}
* a {
  color: #08b6e6;
}
/*Header styles start*/
.search > img {
  width: 10px;
  height: 10px;
}
.logo > img {
  width: 120px;
  heigth: 60px;
}
/*Header styles end*/
.headline.subscription {
  background-color: #08b6e6;
}
/*Banner/Jumbotron Start*/
.main-header {
  background-image: url("/FrontEnd/imgs/banner.jpg");
}
.jumbotron {
  margin-top: 50px;
  margin-bottom: 200px;
  background-color: transparent;
  padding: 10px 40px;
  text-align: center;
  vertical-align: middle;
}
.btn {
  width: 400px;
  padding: 12px 30px 12px 30px;
}
/*Banner/Jumbotron End*/
/*Footer Styles Start*/
.footer a img {
  width: 550px;
  height: 280px;
}
/*Footer Styles End*/
