* 
	margin 0
	padding 0

default-blue = #08b6e6
default-grey = #666
container-width = max-width

* a 
			color default-blue

/*Header styles start*/
.navbar.navbar-default 
		background-color #fff 
		border none
		border-radius 0px
		margin-bottom 0px
		color default-grey
		vertical-align middle

		
		.nav
				display flex
				flex row
				justify-content center
				align-items center
					
				div
						padding 0px 15px 0px 15px
						font-size 20px

						a
							color grey
							text-decoration none

							&:hover
								color default-blue

							&:active
								color #337ab7


		
				.logo 
					padding-right 80px	

					img
							max-height 140px
							max-width 160px

		.search > img
				width 20px
				height 20px

		
/*Header styles end*/



/*Banner/Jumbotron Start*/
.main-header
				background-image url(imgs/banner.jpg)
				background-repeat no-repeat
				background-size 100%
				background-origin border-box 

.banner.jumbotron
				color #fff
				padding 80px 0px 80px 0px
				margin-bottom 0px
				background-color transparent
				text-align center
				vertical-align middle	

				.container
					padding 10px 0px 10px 0px 		

				.btn
					margin-top 30px
					width 400px
					max-width 75%
					min-width 20%
					padding 12px 30px 12px 30px
								
					&:hover
						background-color transparent
						border 1px solid white
						filter blur(0.1px)

					&:active	
						filter blur(0.1px)
						background-color transparent
						border 1px solid white	
						opacity 0.4
								
/*Banner/Jumbotron End*/



/*Credibility Logos Styles Start*/
.media
	background-color white
	

	.channels 
			display flex

		h4
			padding 15px 0 0 10px
			font-weight bold
			margin-right 40px

		div
			justify-content center
			align-items baseline
			padding 5px 5px 5px 5px
			margin 1px 1px 2px 1px
				
			
		.channels > div:hover
			border 1px solid default-blue
			
		img	
			width 90px
			heigth 50px
			padding 5px 10px 5px 10px
/*Credibility Logos Styles End*/


/* Subscribtion Styles Start */
.headline.subscription
		background-color default-blue
		color white

		.container	.subscription.row
				padding 30px 15px 50px 15px

				img
					padding-right 40px
					padding-top 10px

		ul
			padding-left 20px


		 	li
				font-size 18px
				padding-top 5px
/* Subscribtion Styles End */




/* Featured Guests Styles Start */
.persons
	padding 30px 140px 100px 140px

	a
		text-decoration none

.influencers.row h2
		text-align center
		font-size 34px
		padding 0px 140px 0px 140px

		
.about.person
	padding 50px 40px 0px 0px
	color #666
	line-height 20px

	h4 
		font-size 20px
		line-height 20px

	.person.photo img
		width 220px
		height 140px
		float left
		margin 0px 20px 50px 20px		
/* Featured Guests Styles End */


/* Latest Episodes Styles Start */
.episodes
		padding 30px 140px 70px 140px
		color white
		background-color #1c1c1c 
		
		a
			text-decoration none

		h2
			text-align center
			font-size 34px	
			padding 0px 140px 0px 140px

		.episode
			padding 50px 40px 0px 10px
			color white
			line-height 20px
			font-size 14px

			.person.photo img
				width 220px
				height 140px
				margin-bottom 30px
	

		.btn
			margin-top 5%
			margin-left 40%
			font-size 20px
			border 2px solid default-blue
			background-color #1c1c1c 
			color default-blue 
			width 200px
			padding 12px 30px 12px 30px
							
			&:hover
				background-color default-blue
				color #1c1c1c 
				font-weight normal
				border 1px solid default-grey
				filter blur(0.1px)

			&:active	
				filter blur(0.1px)
				background-color default-blue
				border 1px solid white	
				opacity 0.3

		.other-episodes
			margin-left 20px
/* Latest Episodes Styles End */




 /* Popular Episodes Styles Start */
.popular 
		h2 
			font-size 34px
			padding 10px 0px 0px 40px

		.episode
			padding 50px 40px 40px 20px
			color #000
			line-height 20px

			h4 
				font-size 20px
				line-height 20px

			.person.photo img
				width 220px
				height 140px
				float left
				margin 0px 20px 50px 20px		

		h3
			font-weight bolder
			padding-top 15px
.FBcommunity
		height 900px

 /* Popular Episodes Styles End */


/*Footer Styles Start*/
.footer  a  img
		width 550px
		height 280px

/*Footer Styles End*/




