* 
	margin 0
	padding 0

default-blue = #08b6e6
default-grey = #666
container-width = max-width

* a 
			color default-blue

/*Header styles start*/
.navbar.navbar-default 
		background-color #fff 
		border none
		border-radius 0px
		margin-bottom 0px
		color default-grey
		vertical-align middle

		
		.nav
				display flex
				justify-content center
				align-items center
					
				div
						padding 0px 15px 0px 15px
						font-size 20px

						a
							color grey
							text-decoration none

							&:hover
								color default-blue

							&:active
								color #337ab7


		
				.logo 
					padding-right 80px	

					img
							max-height 140px
							max-width 160px

		.search > img
				width 20px
				height 20px

		
/*Header styles end*/



/*Banner/Jumbotron Start*/
.main-header
				background-image url(imgs/banner.jpg)
				background-repeat no-repeat
				background-size 100%
				background-origin border-box 
				background-position 0 -50px

.banner.jumbotron
				color #fff
				padding 80px 0px 80px 0px
				margin-bottom 0px
				background-color transparent
				text-align center
				vertical-align middle	

				.container
					padding 10px 0px 10px 0px 		

				.btn
					margin-top 30px
					margin-bottom 90px
					width 400px
					max-width 75%
					min-width 20%
					padding 12px 30px 12px 30px
								
					&:hover
						background-color transparent
						border 1px solid white
						filter blur(0.1px)

					&:active	
						filter blur(0.1px)
						background-color transparent
						border 1px solid white	
						opacity 0.4
								
/*Banner/Jumbotron End*/



/*Credibility Logos Styles Start*/
.media
	background-color white
	

	.channels 
			display flex

		h4
			padding 15px 0 0 10px
			font-weight bold
			margin-right 40px

		div
			justify-content center
			align-items baseline
			padding 5px 10px 5px 10px
			margin 1px 1px 2px 1px

			&:nth-child(7) img
					width 150px

		.channels > div:hover
			border 1px solid default-blue
			
		img	
			width 100px
			height 50px
			padding 5px 10px 5px 10px
/*Credibility Logos Styles End*/


/* Subscribtion Styles Start */
.headline.subscription
		background-color default-blue
		color white

		.container	.subscription.row
				padding 30px 15px 50px 15px

				img
					padding-right 40px
					padding-top 10px

		ul
			padding-left 20px


		 	li
				font-size 18px
				padding-top 5px
/* Subscribtion Styles End */




/* Featured Guests Styles Start */
.persons
	padding 30px 140px 100px 140px

	a
		text-decoration none

.influencers.row h2
		text-align center
		font-size 34px
		padding 0px 140px 0px 140px

		
.about.person
	padding 50px 40px 0px 0px
	color #666
	line-height 20px

	h4 
		font-size 20px
		line-height 20px

	.person.photo img
		width 220px
		height 140px
		float left
		margin 0px 20px 50px 20px		
/* Featured Guests Styles End */


/* Latest Episodes Styles Start */
.episodes
		padding 30px 140px 70px 140px
		color white
		background-color #1c1c1c 
		
		a
			text-decoration none

		h2
			text-align center
			font-size 34px	
			padding 0px 140px 0px 140px

		.episode
			padding 50px 40px 0px 10px
			color white
			line-height 20px
			font-size 14px

			.person.photo img
				width 220px
				height 140px
				margin-bottom 30px
	

		.btn
			margin-top 5%
			margin-left 40%
			font-size 20px
			border 2px solid default-blue
			background-color #1c1c1c 
			color default-blue 
			width 200px
			padding 12px 30px 12px 30px
							
			&:hover
				background-color default-blue
				color #1c1c1c 
				font-weight normal
				border 1px solid default-grey
				filter blur(0.1px)

			&:active	
				filter blur(0.1px)
				background-color default-blue
				border 1px solid white	
				opacity 0.3

		.other-episodes
			margin-left 20px
/* Latest Episodes Styles End */




 /* Popular Episodes Styles Start */
.popular 
		color #000
		a
			text-decoration none	
		.container
			padding-top 20px
			padding-bottom 40px	

		h2 
			font-size 34px
			padding 10px 0px 0px 40px

		.episode
			padding 50px 40px 40px 20px
			line-height 20px
			text-decoration none

			h4 
				font-size 20px
				line-height 20px

			.person.photo img
				width 220px
				height 140px
				float left
				margin 0px 20px 50px 20px		

		h3
			font-weight bolder
			padding-top 15px


		.FBcommunity .FBframe
			margin-top 40px
			height 550px
			width 350px
			background-image url(imgs/frame.jpg)
			background-size cover
			border 1px solid #bdbdbd

		.FBcommunity h4 
			padding-top 30px
			span
				font-size 12px	


		.TWcommunity .TWframe
			margin-top 0px
			height 200px
			width 350px
			background-image url(imgs/frame2.jpg)
			background-size cover
			border 1px solid #bdbdbd
			margin-bottom 20px

		span > a
			font-size 12px

			&:nth-child(2)
				margin-left 200px
 /* Popular Episodes Styles End */



 /* Consume Styles Start */

.consume
	background-color #d0d0d0
	margin-top 10px
	text-align center

	& > h2
		font-size 40px

	& > h4
		font-size 20px
		font-weight bolder	
		padding-bottom 30px

	.container
		padding 20px 40px 40px 40px
		display flex
		justify-content space-between
		align-items center

		a
			text-decoration none

		.option
			font-size 20px

			h4
				font-weight bold
				padding-left 50px
				padding-right 60px
				font-size 20px
				text-align left



			.round
				background-color black
				border-radius 50%
				height 80px
				width 80px
				font-size 54px
				font-weight bold
				color default-blue
				float left
				margin-right 15px

			img
				height 50px
				padding-right 190px


		

			.logos.container
				padding-left 10px
				width 200px
				display flex
				justify-content center
				align-items baseline
				padding-top 0px


				img
					height 45px
					border-radius 17%
					padding-right 10px
					padding-left 10px

/* Consume Styles End */


/*Footer Styles Start*/
.footer  
	background-color black
	color white


	.container
		padding-top 80px
		padding-bottom 80px

		a  img
			width 550px
			height 280px

		h2
			padding-left 30px
			font-weight bold
			text-align center

		.btn
			margin-top 5%
			margin-left 25%
			font-size 20px
			border 2px solid default-blue
			background-color black 
			color default-blue 
			width 300px
			padding 12px 0px 12px 0px
							
			&:hover
				background-color default-blue
				color #1c1c1c 
				font-weight normal
				border 1px solid default-grey
				filter blur(0.1px)

			&:active	
				filter blur(0.1px)
				background-color default-blue
				border 1px solid white	
				opacity 0.3



.legalese
	text-align center
	background-color #1c1c1c 
	color white
	padding 15px 10px 10px 10px

/*Footer Styles End*/




